<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>Destinations</title>
</head>
<body>
  <%- include('../partials/nav.ejs') %> 
  <h1>Destinations</h1>
  <select>
    <% destinations.forEach(function(destination){ %> 
      <option><%= destination.airport %></option>
      <% }) %> 
  </select>
  <form action="/destinations" method="POST">
    <label for="airport-input">Airport Name:</label>
    <input type="text" name="airport">
    <button type="submit">Add Airport As New Destination</button>
  </form>
</body>
</html>
